/*-------------------------------------------------
Style Sheet
Version : 1.1
Author :  Da-Vin Ha
Create date : 2021. 10. 26. Da-Vin Ha
-------------------------------------------------*/

html {
  font-size: 0.4166vw;
}
/* Layout */
.headWrap,
.portFolio {
  padding: 0 17.5rem 10rem;
}

.header {
  width: 100%;
  position: relative;
  height: 100vh;
}
.header * {
  color: #2b2b2b;
}
.header .grab {
  overflow: hidden;
  position: relative;
  height: 260px;
  z-index: 1;
  height: 100%;
  background: url(../images/main/visual_bg.jpg) no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
}
.header h1 {
  float: left;
  position: absolute;
  left: 0;
}
.header .nav {
  text-align: center;
}
.header .nav a {
  display: inline-block;
  margin: 0 3.5%;
}
.header .nav a:hover,
.header .nav a:active,
.header .nav a:focus {
  opacity: 0.5;
}

.header .headText {
  position: absolute;
  bottom: 19vh;
  left: 17.5rem;
  color: #fff;
}
.header .headText .text {
  font-size: 18px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.2px;
  line-height: 1.85;
  font-weight: 400;
}
.header .visualText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.header .visualText img {
  display: block;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12rem;
  height: 47rem;
  font-size: 25px;
  text-align: center;
  color: #fff;
  background: url(../images/main/footer_bg.jpg) no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

/* Top */
a.top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: none;
  z-index: 20;
  background: #000;
  padding: 10px 8px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 30px !important;
  display: inline-block;
}

/* Portfolio */
.portFolio {
}
.portFolio ul {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25rem 20px;
}
.portFolio ul li {
}
.portFolio ul li a:hover .dark {
  opacity: 1;
}
.portFolio ul li .port-image {
  margin-bottom: 30px;
  background: #000;
  position: relative;
}
.portFolio ul li .port-image .hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 48px;
  text-align: center;
  padding: 0 5%;
}

.portFolio ul li .port-image .dark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(137, 53, 232, 0), rgba(137, 53, 232, 1));
  opacity: 0;
}
.portFolio ul li:nth-child(2) .port-image .dark {
  background: linear-gradient(rgba(84, 243, 196, 0), rgba(84, 243, 196, 1));
}
.portFolio ul li:nth-child(3) .port-image .dark {
  background: linear-gradient(rgba(4, 107, 224, 0), rgba(4, 107, 224, 1));
}
.portFolio ul li:nth-child(4) .port-image .dark {
  background: linear-gradient(rgba(78, 194, 55, 0), rgba(78, 194, 55, 1));
}
.portFolio ul li:nth-child(5) .port-image .dark {
  background: linear-gradient(rgba(244, 92, 239, 0), rgba(244, 92, 239, 1));
}
.portFolio ul li:nth-child(6) .port-image .dark {
  background: linear-gradient(rgba(228, 91, 53, 0), rgba(228, 91, 53, 1));
}
.portFolio ul li:nth-child(7) .port-image .dark {
  background: linear-gradient(rgba(229, 74, 77, 0), rgba(229, 74, 77, 1));
}

.portFolio ul li .port-image img {
  width: 100%;
  display: block;
}
.portFolio ul li .port-text {
  display: flex;
  flex-direction: column;
  gap: 20px 200px;
}
.portFolio ul li .port-text .info-1 {
  font-weight: 400;
  font-size: 25px;
  color: #cdcdcd;
}

.portFolio ul li .port-text .tit {
  font-size: 60px;
  letter-spacing: 0;
  font-weight: 600;
  display: block;
  color: #424242;
  margin-bottom: 24px;
  line-height: 1;
}
.portFolio ul li .port-text .text {
  font-size: 23px;
  font-weight: 400;
  color: #535353;
  line-height: 1.6;
}

/*! PC */
@media (max-width: 1440px) {
  .headWrap,
  .portFolio {
    padding: 0 8rem 5rem;
  }
}

/*! Tablet */

@media (max-width: 1100px) {
  .portFolio ul {
    grid-template-columns: 1fr;
  }
  .header .visualText {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    width: 70vw;
    gap: 48px;
  }
  .header .headText {
    position: relative;
    left: auto;
    bottom: auto;
    transform: none;
  }
  .header .headText .text {
    text-align: center;
    color: #e6a2fd;
  }
  .header .grab {
    gap: 48px;
  }
}

/**** Mobile ****/
@media (max-width: 768px) {
  .header .visualText {
    width: 60vw;
  }
  .headWrap,
  .portFolio {
    padding: 0 8rem 120px;
  }
  .portFolio ul {
    gap: 120px;
  }
  .portFolio ul li .port-text {
    gap: 16px;
  }
  .portFolio ul li .port-text .info-1 {
    font-size: 22px;
  }
  .portFolio ul li .port-text .tit {
    margin-bottom: 8px;
    font-size: 40px;
  }
  .portFolio ul li .port-text .text {
    font-size: 20px;
  }
  footer {
    height: 68rem;
    font-size: 18px;
    padding-top: 24rem;
  }

  .header .visualText .resume img {
    height: 56px;
  }
  .header .headText .text {
    font-size: 16px;
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  footer {
    font-size: 14px;
  }
  .portFolio ul li .port-image {
    margin-bottom: 16px;
  }
  .header .visualText {
    width: 75vw;
  }
  .cntTop-wrap {
    right: -10px;
  }

  .portFolio ul {
    gap: 80px;
  }

  .portFolio ul li .port-text {
    gap: 12px;
  }

  .headWrap,
  .portFolio {
    padding: 0 20px 80px;
  }
  .portFolio ul li .port-text .info-1 {
    font-size: 18px;
  }
  .portFolio ul li .port-text .tit {
    margin-bottom: 8px;
    font-size: 32px;
  }
  .portFolio ul li .port-text .text {
    font-size: 16px;
  }
}

/**** PC ****/
@media (min-width: 992px) and (max-width: 1100px) {
  .cntTop-wrap {
    right: 8px;
  }
  .cntTop-wrap img {
    width: 55px;
  }
}

@media (min-width: 1101px) and (max-width: 1280px) {
  .cntTop-wrap {
    right: 8px;
  }
  .cntTop-wrap img {
    width: 55px;
  }
}

@media (min-width: 1381px) and (max-width: 1649px) {
}

@media (min-width: 1650px) and (max-width: 1791px) {
}
